# Python virtual environments
Digital_Frames/
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

comparison_run/
original_frames/
outputs/
test_images/
test_run/
uploads/
frames/
